
body {

}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

#banner {
	width: 200%;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}
#baneficios {
	width: 200%;
}
